mixin cart(data)
    .cart
        each item in data
            if item.star
                .cart__icon.cart__star(aria-label="Товар дня")
            if item.new
                .cart__icon.cart__new(aria-label="Новый товар")
            .cart__top-link

            .cart__img
                img.lazy(data-src=`%=static=%img/assets/cart/${item.img}` alt="Товар")

                if item.discount
                    .cart__img-discount -20%

                if item.discount
                    .cart__not Нет в наличии

                if item.soon
                    .cart__soon Ожидается

            .cart__descr
                h3.cart__title=item.title
                p.cart__text=item.text
                if item.discount
                    p.cart__cost-discount=item.discount
                p.cart__cost=item.cost
                +field-num({
                    mods: '',
                    val: '1',
                    attrs: {
                        name: 'quantity',
                        min: '1',
                        step: '1',
                    }
                })

